.Logo {
	width: 65px;
	height: 65px;
	z-index: 0;
	box-sizing: border-box;
	margin: auto -5px;
}

.Logo div {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	opacity: 0;
	z-index: 0;
	animation: crossFade 12s linear infinite;
	backface-visibility: hidden;
	transform: translateZ(0);
	will-change: transform;
}

.Logo div:nth-child(1) {
	background-image: url(../../../assets//svgs/day.svg);
}
.Logo div:nth-child(2) {
	background-image: url(../../../assets//svgs/night.svg);
	animation-delay: 3s;
}
.Logo div:nth-child(3) {
	background-image: url(../../../assets//svgs/rainy-1.svg);
	animation-delay: 6s;
}
.Logo div:nth-child(4) {
	background-image: url(../../../assets//svgs/thunder.svg);
	animation-delay: 9s;
}

@keyframes crossFade {
	0% {
		opacity: 0;
		animation-timing-function: ease-in;
	}
	10% {
		opacity: 1;
		animation-timing-function: ease-out;
	}
	30% {
		opacity: 0;
	}
}
