.SingleForecast {
	text-align: center;
}

.WeatherIcon {
	font-size: 3rem;
	padding-bottom: 0.45em;
	font-weight: 200;
}

.Temps {
	font-size: 1.2rem;
	padding-bottom: 0.4em;
}

.Raindrop i {
	color: rgb(22, 235, 235);
}

@media (max-width: 60rem) {
	.WeatherIcon {
		font-size: 2rem;
		padding-bottom: 0.45em;
		font-weight: 200;
	}

	.Temps {
		font-size: 1rem;
		padding-bottom: 0.4em;
	}
}
