.NavItems {
	margin: 5px;
	display: grid;
	grid-template-columns: 1.75fr minmax(300px, 3fr) 1.5fr;
	grid-gap: 5px;
	text-align: center;
	justify-content: space-between;
	grid-auto-flow: column;
}

.ContainerLeft {
	height: 100%;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr 0.75fr;
	text-align: center;
	align-items: center;
	justify-self: left;
}

.ContainerRight {
	height: 100%;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 0.75fr 0.75fr;
	text-align: center;
	align-items: center;
	justify-self: right;
}

.Title {
	box-sizing: border-box;
	display: block;
	width: 100%;
	font-family: 'Berkshire Swash';
	font-size: 1.7rem;
}
