.NavItems {
	margin: 5px;
	display: flex;
	flex-wrap: wrap;
	flex: auto;
	justify-content: space-around;
	align-items: center;
	text-align: center;
}

.Title {
	box-sizing: border-box;
	display: inline;
	font-family: 'Berkshire Swash';
	font-size: 1.7rem;
	flex-grow: 0;
}

.Controls {
	flex-grow: 2;
}
