.Landing {
	text-align: center;
	position: relative;
}

.Landing > h1 {
	font-weight: 400;
	font-size: 3.5rem;
	font-family: 'Berkshire Swash';
}

.Subheader {
	font-weight: 400;
	font-size: 1.25rem;
	margin-bottom: 1.5rem;
}

.LocationCards {
	margin: 100px auto;
	width: 90%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
	grid-gap: 20px;
	justify-items: center;
	align-items: center;
}
