.Container {
	width: 65%;
	text-align: center;
	margin: auto;
	margin-top: 3rem;
}

.Header {
	font-size: 5rem;
}

.Header i {
	font-size: 4.5rem;
}

.Header span {
	font-size: 4rem;
}

.LocationSubheader {
	margin-top: 1.75rem;
	margin-bottom: 1.75rem;
	font-size: 2.6rem;
	line-height: 1.25em;
}

.Subheader1 {
	margin-top: 2rem;
	font-size: 1.25rem;
}

.Subheader2 {
	margin-top: 1rem;
	font-size: 1.25rem;
}

.WeeklyForecast {
	font-weight: 600;
	font-size: 1.5rem;
	margin: 2rem auto;
	border: 1px soild black;
	border-radius: 5px;
	background-color: var(--main-color);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	height: 50px;
	width: 100px;
	transition: all 0.5s;
}

@media (max-width: 830px) {
	.LocationSubheader {
		margin-top: 1.75rem;
		margin-bottom: 1.75rem;
		font-size: 1.75rem;
		line-height: 1.25em;
	}
}
