.Container {
	width: 65%;
	text-align: center;
	margin: auto;
	margin-top: 3rem;
	position: sticky;
	top: 0.5px;
	background: var(--main-color);
	width: 100%;
	padding-bottom: 10px;
	color: white;
}

.Header,
.Header i {
	font-size: 5rem;
}

.Header span {
	font-size: 4rem;
}

.LocationSubheader {
	margin-top: 1.75rem;
	margin-bottom: 1.75rem;
	font-size: 2.6rem;
	line-height: 1.25em;
}

.Subheader1 {
	margin-top: 2rem;
	font-size: 1.25rem;
}

.Subheader2 {
	margin-top: 1rem;
	font-size: 1.25rem;
}

@media (max-width: 60rem) {
	.Header,
	.Header i {
		font-size: 2.4rem;
	}

	.Header span {
		font-size: 2.1rem;
	}

	.LocationSubheader {
		font-size: 1rem;
		margin-top: 0.875em;
		margin-bottom: 0.5em;
		line-height: 1.2em;
	}

	.Subheader1,
	.Subheader2 {
		font-size: 0.9rem;
		margin-top: 0.3em;
	}
}
