.Container {
	width: 65%;
	text-align: center;
	margin: auto;
	margin-top: 3rem;
}

.Header {
	font-size: 5rem;
}

.Header i {
	font-size: 4.5rem;
}

.Header span {
	font-size: 4rem;
}

.Subheader1 {
	margin-top: 2rem;
	font-size: 1.25rem;
}

.Subheader2 {
	margin-top: 1rem;
	font-size: 1.25rem;
}
