.Footer {
	position: relative;
	top: 11vmin;
	height: auto;
	margin: 5px 20px;
	padding: 5px 10px;
	background-color: rgba(85, 83, 83, 0.658);
	border: 1px solid var(--main-color);
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}

span.Name {
	font-weight: 600;
	color: beige;
}
