.ExtraDetails {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	color: white;
}

.Icon {
	font-size: 1.5rem;
	font-weight: 300;
	width: 30px;
	height: 100%;
}

.Item {
	font-size: 1.2rem;
	font-weight: 600;
	padding-left: 5px;
}
