.WeekdayWeather {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	box-sizing: border-box;
	text-align: center;
}

.Temp {
	margin-top: 0;
	font-size: 1.5rem;
	font-weight: bold;
}

.WeatherIcon {
	width: 100px;
}
