@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');

* {
	/* --main-color: rgb(62, 119, 173) !important; */
	--main-color: #70a2ce !important;
	color: var(--main-color) !important;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-image: url(./assets/photos/regtangle-01.jpg) !important;
	background-position: center center !important;
	background-size: cover !important;
	backface-visibility: hidden;
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
